.img-card-backdrop {
  background-color: #EDFD93;
  background-image: radial-gradient(rgba(0, 0, 0, 0.308) 1px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}

.img-card-backdrop:hover .backdrop-layout-card {
  height: 50%;
}

.img-card-backdrop-loader-infinity {
  background-image: url('/Infinity-loader2.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 450px 450px;
}

@media (width < 1921px) {
  .img-card-backdrop-loader-infinity {
    background-size: 300px 300px;
  }

  .img-card-backdrop:hover .backdrop-layout-card {
    height: 63.333%;
  }
}